// PALETTE
$clr-white: #fff;
$clr-black: #000;

$palettes : (primary: (50: #E7F1FD,
        100: #B4D2F8,
        200: #8FBDF5,
        300: #5C9FF0,
        400: #3D8CED,
        500: #0C6DE9,
        600: #0B65D4,
        700: #094FA5,
        800: #073D80,
        900: #052F62,
    ),
    secondary: (50: #F0F1F3,
        100: #CFD3D9,
        200: #B8BDC6,
        300: #989FAD,
        400: #848D9D,
        500: #657084,
        600: #5C6678,
        700: #48505E,
        800: #383E49,
        900: #2A2F37,
    ),
    red: (50: #FDE8E8,
        100: #F8B8B8,
        200: #F49696,
        300: #F06666,
        400: #ED4848,
        500: #E81A1A,
        600: #D31818,
        700: #A51212,
        800: #800E0E,
        900: #610B0B,
    ),
    yellow: (50: #FEF6E7,
        100: #FBE4B6,
        200: #F9D792,
        300: #F4C460,
        400: #F5B941,
        500: #F3A712,
        600: #DD9810,
        700: #AD770D,
        800: #865C0A,
        900: #664608,
    ),
    green : (50: #F3FAE6,
        100: #DBEEB0,
        200: #C9E68A,
        300: #B1DB54,
        400: #A1D433,
        500: #8AC900,
        600: #7EB700,
        700: #628F00,
        800: #416F00,
        900: #3A5400,
    ),
    blue: (50: #E6F9FE,
        100: #B2EBFB,
        200: #8DE2F9,
        300: #59D4F6,
        400: #39CCF5,
        500: #07BFF2,
        600: #06AEDC,
        700: #0588AC,
        800: #046985,
        900: #035066,
    ),
);

// SIZES
$panel-gap: .5rem;
$mobile-nav-height: 5rem;
$mobile-header-height: $mobile-nav-height;

// OTHER
$panel-box-shadow: 0 0 5px rgba(0, 0, 0, .175);

// BORDER RADIUS
$border-radius-5: 5px;
$border-radius-base: .5rem;
$border-radius-half: 50rem;
$border-radius-full: 50%;

// FONTS
$font-display: 'BiggerDisplay';
//$font-primary: 'Oswald', sans-serif;
$font-primary: 'Roboto Condensed', sans-serif;


// FUNCTIONS
@function color($color, $tone) {
    @if map-has-key($palettes, $color) {
        $color: map-get($palettes, $color);

        @if map-has-key($color, $tone) {
            $tone: map-get($color, $tone);
            @return $tone;
        }

        @warn "unknown tone `#{$tone}` in color";
        @return null;
    }

    @warn "unknown color `#{$color}` in palette";
    @return null;
}

// ANIMATIONS
$animation-cubic: cubic-bezier(0.25, 0.46, 0.45, 0.94);

@keyframes bg-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes loading {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}

@keyframes toast {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes sliding-down {
    0% {
        transform: translateY(-3%);
        opacity: 0;
    }

    10% {
        transform: translateY(-2.0999999999999996%);
        opacity: 1;
    }

    90% {
        transform: translateY(2.0999999999999996%);
        opacity: 1;
    }

    100% {
        transform: translateY(3%);
        opacity: 0;
    }
}

@keyframes sliding-up {
    0% {
        transform: translateY(3%);
        opacity: 0;
    }

    15% {
        transform: translateY(2.0999999999999996%);
        opacity: 1;
    }

    85% {
        transform: translateY(-2.0999999999999996%);
        opacity: 1;
    }

    100% {
        transform: translateY(-3%);
        opacity: 0;
    }
}

// MEDIA QUERIES
$media-query-xsm: 360px;
$media-query-sm: 576px;
$media-query-md: 768px;
$media-query-lg: 1200px;
$media-query-xl: 1600px;
$media-query-2xl: 1920px;
$media-query-3xl: 2560px;