// color
$clr-black: #000000;
$clr-white: #ffffff;

$clr-grey-100: #F9FAFB;
$clr-grey-200: #F4F6F8;
$clr-grey-300: #DFE3E8;
$clr-grey-400: #C4CDD5;
$clr-grey-500: #919EAB;
$clr-grey-600: #637381;
$clr-grey-700: #454F5B;
$clr-grey-800: #212B36;
$clr-grey-900: #161C24;

$clr-green-lighter: #C8FAD6;
$clr-green-light: #5BE49B;
$clr-green: #00A76F;
$clr-green-dark: #007867;
$clr-green-darker: #004B50;

$clr-blue-lighter: #CAFDF5;
$clr-blue-light: #61F3F3;
$clr-blue: #00B8D9;
$clr-blue-dark: #006C9C;
$clr-blue-darker: #003768;

$clr-red-lighter: #FFD6D9;
$clr-red-light: #FF8389;
$clr-red: #FF1F32;
$clr-red-dark: #B80D24;
$clr-red-darker: #8C001A;

$clr-yellow-lighter: #FFF5CC;
$clr-yellow-light: #FFD666;
$clr-yellow: #FFAB00;
$clr-yellow-dark: #B76E00;
$clr-yellow-darker: #7A4100;


$clr-facebook: #3b5998;
$clr-twitter: #1da1f2;
$clr-google: #db4437;
$clr-instagram: #B71D18;

//size
$closed-nav-width: 5rem;
$opened-nav-width: 16rem;

$mobile-nav-height: 3.5rem;
$mobile-header-height: $mobile-nav-height;


$footer-height: 90svh;

//cubic-bezier
$animation-speed: cubic-bezier(0.25, 0.46, 0.45, 0.94);

//fonts
//$font-display: 'Staatliches', cursive;
$font-display: 'Thunder', sans-serif;
$font-content: 'Oswald', sans-serif;