@import 'variables';

.auth_page {
    position: relative;
    height: 100svh;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .hero {
        position: relative;
        flex: 1;
        bottom: 0;
        left: 0;
        transform: scale(1.175);
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 3rem;
        isolation: isolate;
        overflow: hidden;
        background-color: color(neutral, 900);

        .hero_content {
            position: absolute;
            inset: 0;
            transform: scale(.8525);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            z-index: 100;
            color: $clr-white;

            .hero_title {
                font-size: clamp(7rem, 7vw, 10rem);
                line-height: normal;
                margin: 1rem 0 0 0;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-family: $font-display;
                font-style: italic;
            }

            .hero_subtitle {
                font-size: 1.5rem;
                font-weight: 400;
                margin: 0;
                text-align: center;
                max-width: 700px;
                padding: 0 1.5rem;
            }

            .hero_footer {
                width: 100%;
                bottom: 0;
                left: 0;
                padding: 1rem 1.5rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                z-index: 100;
                backdrop-filter: blur(10px);
                font-size: .9rem;

                h4 {
                    font-weight: 400;
                    color: $clr-white;
                    text-transform: uppercase;
                }

                .hero_links {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    column-gap: 1rem;

                    a {
                        font-weight: 400;
                        color: $clr-white;
                        opacity: 1;
                        text-transform: uppercase;
                        transition: color 0.2s $animation-cubic;

                        &:hover {
                            color: color(secondary, 100);
                        }
                    }
                }
            }
        }

        .image_column {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 3rem;
            z-index: -1;

            &.sliding-down {
                animation: sliding-down 20s linear infinite;
            }

            &.sliding-up {
                animation: sliding-up 20s linear infinite;
            }

            @for $i from 0 to 10 {
                &:nth-child(#{$i}) {
                    animation-delay: $i * 0.15s;
                }
            }

            .image {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: $border-radius-1;
                }
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: -1;
        }
    }

    .auth_container {
        position: relative;
        padding: 3rem;
        width: clamp(40rem, 50%, 60rem);
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $clr-white;
        overflow-x: hidden;

        .brand_title {
            position: relative;
            font-size: clamp(5rem, 5vw, 7rem);
            margin-bottom: 1rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: $font-display;
            font-style: italic;
            display: none;
            color: $clr-white;
        }

        .tabs_wrapper {
            position: relative;
            margin: 0 auto;
            width: 100%;
            max-width: 700px;

            .tabs_header {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .tabs_header_item {
                    position: relative;
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    width: 50%;

                    &::after {
                        content: '';
                        height: 1px;
                        background-color: color(secondary, 300);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        transition: height 0.2s $animation-cubic;
                    }

                    &:hover {
                        h3 {
                            color: color(secondary, 500);
                        }
                    }

                    h3 {
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-size: 1.2rem;
                        color: color(secondary, 300);
                        transition: color 0.2s $animation-cubic;
                        margin: 0 1rem;
                        font-weight: 500;
                    }

                    &.active-tab {
                        &::after {
                            content: '';
                            width: 100%;
                            height: 3px;
                            background-color: $clr-black;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }

                        h3 {
                            color: $clr-black;
                        }
                    }
                }
            }

            .tabs_content {
                .tabs_content_item {
                    display: none;

                    .social-signup {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        position: relative;

                        h4 {
                            margin: 1rem 0;
                            font-size: 1.2rem;
                            font-weight: 400;
                            text-align: center;
                        }
                    }

                    .bg-line {
                        width: 100%;
                        margin: 2rem 0 2.5rem 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        h4 {
                            color: $clr-black;
                            //text-transform: uppercase;
                            text-align: center;
                            background-color: $clr-white;
                            padding: 0 1rem;
                            z-index: 100;
                            font-weight: 400;
                            font-size: 1.2rem;
                        }

                        &::after {
                            content: '';
                            width: 100%;
                            position: absolute;
                            height: 1px;
                            background-color: $clr-black;
                        }
                    }

                    &.active-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        color: $clr-black;

                        h1 {
                            margin: 2rem 0 1rem 0;
                            font-size: 2rem;
                        }

                        form {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            width: 100%;

                            .field_wrapper {
                                display: flex;
                                flex-direction: row;
                                column-gap: 0.5rem;

                                .input_wrapper {
                                    width: 100%;
                                }
                            }

                            .link {
                                margin: 1rem 0;
                                margin-left: auto;
                            }
                        }
                    }
                }
            }
        }

        .reset-password_wrapper {
            position: relative;
            margin: 0 auto;
            width: 100%;
            max-width: 700px;

            .reset-password_body {
                position: relative;

                h1 {
                    margin: 2rem 0 1rem 0;
                    font-size: 2rem;
                }

                p {
                    color: color(secondary, 500);
                    margin-bottom: 1rem;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: $media-query-3xl) {
    .auth_page {
        .hero {
            gap: 2rem;
            grid-template-columns: repeat(7, 1fr);

            .image_column {
                row-gap: 2rem;
            }
        }
    }
}

@media only screen and (max-width: $media-query-2xl) {
    .auth_page {
        .hero {
            gap: 1.5rem;
            grid-template-columns: repeat(5, 1fr);

            .image_column {
                row-gap: 1.5rem;
            }
        }
    }
}

@media only screen and (max-width: $media-query-xl) {
    .auth_page {
        .hero {
            gap: 1.5rem;
            grid-template-columns: repeat(4, 1fr);

            .image_column {
                row-gap: 1.5rem;
            }
        }

        .auth_container {
            padding: 2rem;
        }
    }
}

@media only screen and (max-width: $media-query-lg) {
    .auth_page {
        min-height: 100svh;
        height: auto;
        flex-direction: column-reverse;
        overflow: auto;
        padding: 0 2rem;
        justify-content: space-between;
        align-items: center;

        .hero {
            border-radius: $border-radius-1;
            max-width: 700px;
            margin: 2rem auto;
            transform: scale(1);
            gap: .5rem;
            max-height: 40svh;
            grid-template-columns: repeat(5, 1fr);

            .hero_content {
                transform: scale(1);
                padding: 0;

                .hero_title {
                    visibility: hidden;
                    font-size: 0rem;
                    margin: 0;
                }

                .hero_subtitle {
                    font-size: 1rem;
                    margin: 0;
                    padding: 0 5rem;
                }

                .hero_footer {
                    padding: 1rem;

                    h4,
                    a {
                        font-size: .9rem;
                    }

                    .hero_links {
                        gap: 1rem;

                        a {
                            opacity: 1;
                        }
                    }
                }
            }

            .image_column {
                row-gap: .5rem;
            }
        }

        .auth_container {
            width: 100%;
            box-shadow: none;
            padding: 0rem;
            border: none;

            .brand_title {
                display: block;
                margin: 2rem 0;
                line-height: normal;
                color: color(primary, 500)
            }

            .tabs_wrapper {
                .tabs_header {
                    .tabs_header_item {
                        min-width: 10rem;

                        h3 {
                            font-size: 1.2rem;
                        }
                    }
                }

                .tabs_content {
                    .tabs_content_item {
                        &.active-content {
                            h1 {
                                line-height: normal;
                            }

                            form {
                                .field_wrapper {
                                    flex-direction: column;
                                    row-gap: 0.25rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $media-query-sm) {
    .auth_page {
        padding: 0;

        .hero {
            margin: 1rem !important;
            grid-template-columns: repeat(3, 1fr);

            .hero_content {
                .hero_footer {
                    h4 {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }

        .auth_container {
            padding: 0rem 1rem;
        }
    }
}

@media only screen and (max-width: $media-query-xsm) {
    .auth_page {
        .hero {
            margin: 1rem;
            grid-template-columns: repeat(3, 1fr);

            .hero_content {
                .hero-footer {

                    a,
                    h4 {
                        font-size: .8rem;
                    }
                }
            }
        }

        .auth_container {
            .tabs_wrapper {
                .tabs_header {
                    .tabs_header_item {
                        min-width: 10rem;

                        h3 {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}