@import 'variables';

.btn {
    all: unset;
    box-shadow: 0;
    font-size: 1rem;
    padding: 0.75rem 2rem;
    margin: 0.5rem 0;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: $border-radius-1;
    user-select: none;
    white-space: nowrap;

    .spinner {
        position: relative;
        top: 0;
        left: 0;
        font-size: 1rem;
        width: 1.6rem;
        height: 1.6rem;
        color: $clr-white;
    }

    &.primary {
        //font-weight: bold;
        transition: background-color 0.2s $animation-cubic;
        color: $clr-white;
        background-color: color(primary, 500);
        border: 1px solid color(primary, 600);

        &:hover {
            background-color: color(primary, 600);
        }

        &:active {
            background-color: color(primary, 700);
        }

        &:disabled {
            cursor: not-allowed;
            //background-color: color(primary, 50);
            //border-color: color(primary, 100);

            &:hover {
                background-color: color(primary, 500);
            }

            &:active {
                background-color: color(primary, 500);
            }
        }

        &.white {
            background-color: $clr-white;
            color: $clr-black;
            border: 1px solid color(secondary, 200);

            &:hover,
            &:active {
                border-color: color(secondary, 500);
                background-color: color(neutral, 100)
            }
        }

        &.red {
            background-color: color(red, 500);
            border: 1px solid color(red, 600);

            &:hover {
                background-color: color(red, 600);
            }

            &:active {
                background-color: color(red, 700);
            }
        }

        &.green {
            background-color: color(green, 500);
            border: 1px solid color(green, 600);
            color: $clr-font;

            &:hover {
                background-color: color(green, 600);
            }

            &:active {
                background-color: color(green, 700);
            }
        }
    }

    &.secondary {
        font-weight: 500;
        border: 1px solid color(secondary, 200);
        transition: all 0.2s $animation-cubic;

        &:hover {
            border-color: color(secondary, 500);
        }

        &:active {
            border-color: color(secondary, 500);
            background-color: rgba(0, 0, 0, 0.025);
        }

        &:disabled {
            cursor: not-allowed;
            background-color: color(secondary, 50);
            border-color: color(secondary, 100);
        }

        &.light {

            &:hover,
            &:active {
                border-color: color(secondary, 50);
            }
        }

        &.dark {
            color: $clr-white;
            background-color: color(neutral, 900);

            &:hover {
                background-color: color(neutral, 800);
            }

            &:active {
                background-color: color(neutral, 700);
            }
        }

    }

    &.tertiary {
        text-transform: capitalize;
        letter-spacing: 0px;
        position: relative;
        padding: 0 !important;
        margin: .5rem 0;
        gap: .75rem;
        font-size: 1.2rem;
        color: $clr-black;
        transition: color 0.2s $animation-cubic;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.2s $animation-cubic;
        }

        &::before {
            background-color: color(primary, 500);
        }

        &:hover {
            color: color(primary, 500);

            &::before {
                transform-origin: left;
                transform: scaleX(1);
            }
        }

        &:active {
            color: color(primary, 600);

            &::before {
                background-color: color(primary, 600);
            }
        }

        &:disabled {
            cursor: not-allowed;
        }
    }
}