@import './variables';

.sidebar {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 18rem;
    background-color: $clr-white;
    transition: width 0.2s $animation-cubic;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    border-right: 1px solid color(secondary, 100);

    // -ms-overflow-style: none;
    // scrollbar-width: none;

    /*
    ::-webkit-scrollbar {
        display: none;
    }
    */

    &.closed {
        width: $closed-sidebar-width;
        align-items: center;

        .sidebar_header {
            svg {
                min-height: 2rem;
                color: $clr-black
            }
        }

        .sidebar_list {
            width: 100%;

            .sidebar_list_item {
                h4 {
                    text-align: center;
                    color: color(secondary, 100);
                }

                .list_item_submenu {
                    .submenu_item {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .submenu_item_link {
                            justify-content: center;

                            svg,
                            span {
                                color: $clr-black;
                            }

                            svg {
                                margin: 0;
                            }

                            span {
                                position: absolute;
                                width: 100%;
                                transform: translateX(50%);
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .sidebar_header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2.5rem;
        margin-bottom: 1rem;
        height: 2rem;

        h1 {
            color: $clr-black;
            cursor: default;
            white-space: nowrap;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            transition: color 0.2s $animation-cubic;
        }

        svg {
            color: $clr-black;
            font-size: 1.25rem;
            min-width: 1.25rem !important;
            cursor: pointer;
            transition: color 0.2s $animation-cubic;

            &:hover {
                color: color(primary, 500);
            }
        }
    }

    .sidebar_list {
        list-style: none;
        margin: 0;
        padding: 0;
        flex: 1;
        display: flex;
        flex-direction: column;

        .sidebar_list_item {
            margin-bottom: 0.5rem;
            padding: 0.5rem 0;
            display: flex;
            flex-direction: column;

            h4 {
                text-transform: uppercase;
                color: color(secondary, 300);
                font-weight: 500;
                font-size: 0.95rem;
                padding: 0 1.5rem;
            }

            .list_item_submenu {
                padding: 0.5rem 0;
                font-size: 1.25rem;

                .submenu_item {
                    height: 2.25rem;
                    margin-bottom: 0.25rem;

                    .submenu_item_link {
                        position: relative;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        gap: 1.25rem;
                        background-color: transparent;

                        color: $clr-black;

                        svg {
                            min-width: 1.25rem !important;
                            margin-left: 2.5rem;
                        }

                        span {
                            white-space: nowrap;
                            position: absolute;
                            left: 5rem;
                            opacity: 1;
                            transform: translateX(0);
                            transition: all .2s $animation-cubic !important;
                        }

                        svg,
                        span {
                            transition: color 0.2s $animation-cubic;
                        }

                        /*
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            width: 0;
                            background-color: color(primary, 500);
                            border-radius: 25px 0 0 25px;
                            transition: width 0.2s $animation-cubic;
                        }
                        */

                        &:hover {
                            //background-color: color(primary, 50);

                            svg,
                            span {
                                color: color(primary, 500);
                            }

                            &::before {
                                width: 3px;
                            }
                        }

                        &:global(.active) {
                            //background-color: color(primary, 50);

                            svg,
                            span {
                                color: color(primary, 500);
                            }

                            &::before {
                                width: 3px;
                            }
                        }
                    }
                }
            }

            &:last-child {
                margin-top: auto;
                margin-bottom: 0;

                .submenu_item:last-of-type {
                    margin-bottom: 0;

                    .submenu_item_link {
                        cursor: pointer;

                        svg,
                        span {
                            color: color(red, 500)
                        }

                        &:hover {

                            svg,
                            span {
                                color: color(red, 600)
                            }

                            /*
                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                width: 3px;
                                background-color: color(red, 500);
                                border-radius: $border-radius 0 0 $border-radius-1;
                            }
                            */
                        }
                    }
                }
            }
        }
    }
}