@import './variables';

.nav-bar {
  position: fixed;
  background-color: $clr-primary-darkgrey;
  transition: width 0.2s $animation-speed;
  color: $clr-white;
  width: $closed-nav-width;
  height: calc(100vh - $search-bar-height);
  top: $search-bar-height;
  z-index: 99;

  &.opened {
    width: $opened-nav-width;

    .nav-list {
      .nav-list-item {
        .nav-link {
          .navbar-text {
            opacity: 1;
            transform: translateX(0);
          }
        }

        &:last-child {
          .nav-link {
            .navbar-username {
              opacity: 1;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }

  .open-close-sidebar {
    width: 2rem;
    height: 2rem;
    background-color: $clr-primary-darkgrey;
    border: 2px solid $clr-white;
    border-radius: 50%;
    right: -1rem;
    top: 2.5rem;
    position: absolute;
    margin-left: $closed-nav-width;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 1.15rem;
      height: 1.15rem;
      filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(239deg) brightness(108%) contrast(101%);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;

    .logo {
      width: 3rem;
      margin: 1rem;
      display: flex;
      justify-content: center;

      .nav-link {
        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }

    .nav-list-item {
      width: 100%;

      &:last-child {
        margin-top: auto;

        .nav-link {
          height: 5rem;
          background-color: $clr-secondary-darkgrey;
          filter: grayscale(0%) opacity(1);

          .profile-avatar {
            width: 3rem;
            height: 3rem;
            min-height: 3.5rem;
            min-width: 3.5rem;
            z-index: 3;
            border-radius: 50%;
            overflow: hidden;
            background-color: $clr-primary-darkgrey;
            border: 2px solid $clr-primary-darkgrey;
            margin: 0 0.75rem;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .navbar-username {
            opacity: 0;
            margin-left: 1rem;
            font-size: 1.5rem;
            transform: translateX(-100%);
            transition: opacity 0.2s, transform 0.2s $animation-speed;
          }

          &:hover {
            cursor: pointer;
            filter: none !important;
            background-color: $clr-secondary-darkgrey !important;
            opacity: 0.75;
          }
        }
      }

      .nav-link {
        display: flex;
        align-items: center;
        height: 2.25rem;
        text-decoration: none;
        filter: opacity(0.6);

        .notification-icon {
          height: 1.25rem;
          position: relative;
          margin: 0 1.5rem;

          .navbar-svg {
            margin: 0;
            min-width: 2rem;
            height: 1.25rem;
            filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(239deg) brightness(108%) contrast(101%);
          }

          .new-notification {
            position: absolute;
            height: 0.6rem;
            width: 0.6rem;
            background-color: $clr-red;
            top: 0;
            right: 0;
            border-radius: 50%;
            border: 1px solid $clr-primary-darkgrey;
            z-index: 99;
            transform: translate(-10%, -25%);
            filter: grayscale(0%) opacity(1);
          }
        }

        .navbar-svg {
          min-width: 2rem;
          height: 1.25rem;
          margin: 0 1.5rem;
          filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(239deg) brightness(108%) contrast(101%);
        }

        .navbar-text {
          margin-left: 0.5rem;
          transform: translateX(-100%);
          opacity: 0;
          transition: opacity 0.2s, transform 0.2s $animation-speed;
          font-size: 1.3rem;
        }

        &:hover,
        &.active {
          filter: grayscale(0%) opacity(1);
          background-color: darken($color: $clr-primary-darkgrey, $amount: 1%);
          cursor: pointer;
          position: relative;
        }

        &.active::after {
          content: '';
          position: absolute;
          width: 0.2rem;
          height: 100%;
          background-color: $clr-white;
          left: 0;
          top: 0;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
        }
      }
    }

    .last-in-group {
      margin-bottom: 1.5rem;
    }
  }
}