@import 'variables';

.footer {
  width: 100%;
  height: $footer-height;
  left: $closed-nav-width;
  bottom: 0;
  position: fixed;
  background-color: $clr-grey-400;
  color: $clr-black;
  z-index: -1;

  .footer-content-wrapper {
    width: 100%;
    height: 100%;
  }

  .footer-bottom {
    background-color: $clr-grey-900;
    width: 100%;
    height: calc($closed-nav-width / 2);
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    .copyright-info {
      transform: translateX(-$closed-nav-width );

      p {
        color: $clr-grey-400;

        .pipe {
          color: $clr-yellow
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    height: calc(100svh - $mobile-header-height - $mobile-nav-height);
    left: 0;
    top: $mobile-header-height;
    bottom: $mobile-nav-height;

    .footer-bottom {
      background-color: $clr-grey-900;

      .copyright-info {
        transform: translateX(0);
      }
    }
  }
}