@import 'variables';

@font-face {
    font-family: 'BiggerDisplay';
    src: url('../fonts/BiggerDisplay.otf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald/Oswald-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Tight';
    src: url('../fonts/inter-tight/InterTight-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/roboto-condensed/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/dm-sans/DMSans-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    font-family: $font-primary;
    line-height: 1.6;
    font-size: 1rem; // 16px
    letter-spacing: normal;
    overflow-x: hidden;
    color: $clr-black;
}

a {
    text-decoration: none;
    color: $clr-black;
}

ul {
    list-style-type: none;
}

// Media Queries
@media only screen and (max-width: $media-query-md) {
    html {
        font-size: 0.9rem;
        line-height: 1.5;
    }
}

// Media Queries - Mobile
@media only screen and (max-width: $media-query-sm) {
    html {
        font-size: 0.8rem;
        line-height: 1.4;
    }
}