@import './variables.scss';

@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Staatliches-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Oswald-Light.ttf') format('truetype');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-family: 'Oswald', sans-serif;
  line-height: 1.3;
  font-size: 1rem; // 16px
}

a {
  text-decoration: none;
  color: white;
}

#root {
  height: fit-content;
}

.main-content{
  background-color: $clr-white;
  width: calc(100% - $closed-nav-width);
  height: calc(100% - $search-bar-height);
  top: $search-bar-height;
  left: $closed-nav-width;
  position: absolute;
  z-index: 0;
}

// Media Queries - Tablet
@media only screen and (max-width: 768px) {
  html {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .main-content{
    padding: 0;
    left: 0;
    top: $search-bar-height;
    bottom: $mobile-nav-height;
    width: 100%;
    height: 100%;
  }
}


// Media Queries - Mobile
@media only screen and (max-width: 500px) {
  html {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}