@import './variables.scss';

@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Staatliches-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Oswald-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MeshedDisplay';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MeshedDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Humane';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Humane-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mango';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MangoGrotesque-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-family: $font-content;
  line-height: 1.3;
  font-size: 1rem; // 16px
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: $clr-white;
}

.main-content {
  background-color: $clr-white;
  width: calc(100% - $closed-nav-width);
  min-height: 100%;
  top: 0;
  left: $closed-nav-width;
  position: relative;
  z-index: 0;
  margin-bottom: $footer-height;
}

.btn-main {
  all: unset;
  font-weight: bold;
  box-shadow: 0;
  transition: box-shadow 0.2s $animation-speed;
  font-size: 1em;
  padding: 0.75em 1em;
  margin: 0.5rem 0;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  letter-spacing: 2px;

  &:active {
    opacity: 0.75;
  }
}

.btn-white {
  color: $clr-white;
  border: 1px solid $clr-white;

  &:hover,
  &:focus &:active {
    box-shadow: 7px 7px $clr-white;
    background-color: $clr-white;
    border: 1px solid $clr-black;
    color: $clr-black;
  }
}

.btn-black {
  color: $clr-black;
  border: 1px solid $clr-black;

  &:hover,
  &:focus &:active {
    box-shadow: 7px 7px $clr-black;
    background-color: $clr-black;
    border: 1px solid $clr-white;
    color: $clr-white;
  }
}

.input-wrapper {
  margin: 0.25rem 0;

  .input-group {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0.2rem 0;

    label {
      position: absolute;
      top: 50%;
      left: 0.5rem;
      font-size: 1.2rem;
      transform: translateY(-50%);
      color: darken($color: $clr-primary-grey, $amount: 60);
      pointer-events: none;
      transition: 0.2s;
      padding: 0 0.2rem;
    }

    img {
      position: absolute;
      top: 50%;
      right: 0.75rem;
      transform: translateY(-50%);
      width: 1rem;
      height: 1rem;
      cursor: pointer;
      overflow: hidden;
      z-index: 1;
      background-color: $clr-white;
    }

    .input-field {
      padding: 0.75rem;
      outline: none;
      font-size: 0.9rem;
      color: darken($color: $clr-primary-grey, $amount: 60);

      &:focus,
      &:invalid,
      &:not(:placeholder-shown) {
        border: 2px solid $clr-black;

        &~label {
          top: 0;
          color: $clr-black;
          font-size: 1.1rem;
          background-color: $clr-white;
        }
      }

      &.input-error {
        border: 2px solid $clr-red;

        &:focus {
          outline: 2px solid lighten($color: $clr-red, $amount: 45);
        }
      }

      &.input-success {
        border: 2px solid $clr-green;
      }
    }
  }
}

/* Change Autocomplete styles*/
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  -webkit-text-fill-color: $clr-black;
  -webkit-box-shadow: 0 0 0px 1000px $clr-white inset;
}

// Media Queries - Tablet
@media only screen and (max-width: 768px) {
  html {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .main-content {
    padding: 0;
    left: 0;
    top: $mobile-header-height;
    min-height: calc(100% - $mobile-header-height - $mobile-nav-height);
    width: 100%;
    margin-bottom: calc($footer-height + $mobile-header-height + $mobile-nav-height);
  }
}

// Media Queries - Mobile
@media only screen and (max-width: 500px) {
  html {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}