@import 'variables';

@font-face {
    font-family: 'BiggerDisplay';
    src: url('../fonts/BiggerDisplay.otf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald/Oswald-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/roboto-condensed/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url('../fonts/roboto-condensed/RobotoCondensed-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    font-family: $font-primary;
    line-height: 1.6;
    font-size: 1rem; // 16px
    letter-spacing: normal;
    color: $clr-black;
}

a {
    text-decoration: none;
    color: $clr-black;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin .75s linear infinite;
    font-size: 2rem;
    color: color(secondary, 200);
}

.link {
    position: relative;
    width: fit-content;
    color: color(primary, 500);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;

    &::before {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: color(primary, 500);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.2s $animation-cubic;
    }

    &:hover {

        &::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}

ul {
    list-style-type: none;
}

textarea {
    resize: none;
}

form {
    .field_wrapper {
        display: flex;
        flex-direction: row;
        column-gap: 0.5rem;

        .input_wrapper {
            width: 100%;
        }
    }
}

.page_title {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    //font-family: $font-secondary;
}

@media only screen and (max-width: $media-query-lg) {
    form {
        .field_wrapper {
            flex-direction: column;
            row-gap: 0.25rem;
        }
    }
}

@media only screen and (max-width: $media-query-md) {
    html {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: $media-query-sm) {
    html {
        font-size: 0.8rem;
    }
}