@import 'variables';

.image {
    position: relative;

    img {
        object-fit: cover;
    }

    .image_placeholder {
        position: absolute;
        height: 200px;
        width: 200px;
        background-color: color(secondary, 100);
        animation: pulsate 1.5s infinite ease-in-out;
    }
}


@keyframes pulsate {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}