@import 'variables';

.input-wrapper {
    margin: 0.5rem 0;

    .input-group {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0.2rem 0;

        label {
            position: absolute;
            top: 50%;
            left: 0.5rem;
            font-size: 1.2rem;
            transform: translateY(-50%);
            color: $clr-primary-500;
            pointer-events: none;
            transition: 0.2s;
            padding: 0 0.2rem;
        }

        .eye {
            position: absolute;
            top: 50%;
            right: 0.75rem;
            transform: translateY(-50%);
            width: 1rem;
            height: 1rem;
            cursor: pointer;
            overflow: hidden;
            z-index: 1;
            background-color: transparent;
        }

        .input-field {
            padding: 0.75rem;
            padding-right: 2rem !important;
            outline: none;
            font-size: 0.9rem;
            background-color: transparent;

            &.light {
                border: 2px solid $clr-primary-700;
                color: $clr-primary-900;
                background-color: $clr-primary-100;

                &~.eye {
                    color: $clr-primary-700;
                }

                &:focus,
                &:invalid,
                &:not(:placeholder-shown) {
                    border: 2px solid $clr-primary-900;

                    &~label {
                        top: 0;
                        color: $clr-primary-900;
                        font-size: 1.1rem;
                        background-color: $clr-white;
                    }
                }

                &.input-error {
                    border: 2px solid $clr-red;

                    &:focus {
                        outline: 2px solid $clr-red-light;
                    }
                }

                &.input-success {
                    border: 2px solid $clr-green;
                }
            }

            &.dark {
                border: 2px solid $clr-primary-500;
                color: $clr-white;

                &:focus,
                &:invalid,
                &:not(:placeholder-shown) {
                    border: 2px solid $clr-white;

                    &~label {
                        top: 0;
                        color: $clr-white;
                        font-size: 1.1rem;
                        background-color: $clr-primary-900;
                    }
                }

                &.input-error {
                    border: 2px solid $clr-red;

                    &:focus {
                        outline: 2px solid $clr-red-light;
                    }
                }

                &.input-success {
                    border: 2px solid $clr-green;
                }
            }


        }
    }

    .error-msg {
        color: $clr-red;
        font-size: .95rem;
    }
}

/* Change Autocomplete styles*/
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
    -webkit-text-fill-color: $clr-white;
    -webkit-box-shadow: 0 0 0px 1000px $clr-primary-900 inset;
}