@import 'variables';

.input_wrapper {
    margin: 0.5rem 0;

    .input_desc {
        margin-bottom: .5rem;
        line-height: 1.8;
    }

    .input_group {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0.2rem 0;

        label {
            position: absolute;
            top: 50%;
            left: 1rem;
            font-size: 1.2rem;
            transform: translateY(-50%);
            color: color(secondary, 300);
            pointer-events: none;
            transition: transfrom 0.2s, font-size 0.2s, color 0.2s, top 0.2s;
            padding: 0 0.2rem;
        }

        .input_svg {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            width: 1rem;
            height: 1rem;
            cursor: pointer;
            overflow: hidden;
            z-index: 1;
            background-color: transparent;
            color: color(secondary, 300);

            &.success {
                color: color(green, 600) !important;
            }
        }

        .input_field {
            padding: 1rem 2rem 1rem 1rem;
            outline: none;
            font-size: 0.9rem;
            background-color: transparent;
            border: 1px solid color(secondary, 200);
            border-radius: $border-radius-1;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                -webkit-text-fill-color: $clr-black;
                -webkit-box-shadow: 0 0 0px 1000px $clr-white inset;
            }

            &.textarea {
                &~label {
                    top: 1rem;
                    transform: translateY(0);
                }
            }

            &:disabled {
                background-color: color(secondary, 50);
                cursor: not-allowed;
            }

            &:focus {
                border: 1px solid color(secondary, 500);
                background-color: $clr-white;

                &~label {
                    top: 0;
                    color: color(secondary, 500);
                    font-size: 1.1rem;
                    background-color: $clr-white;
                }

                &.textarea {
                    &~label {
                        transform: translateY(-50%);
                    }
                }

                &~.input_svg {
                    color: color(secondary, 500);
                }
            }

            &:invalid,
            &:not(:placeholder-shown) {
                border: 1px solid $clr-black;
                background-color: $clr-white;

                &~label {
                    top: 0;
                    color: $clr-black;
                    font-size: 1.1rem;
                    background-color: $clr-white;
                }

                &.textarea {
                    &~label {
                        transform: translateY(-50%);
                    }
                }

                &~.input_svg {
                    color: $clr-black;
                }

                &:focus {
                    outline: 2px solid color(secondary, 100);
                }
            }

            &.error {
                border: 2px solid color(red, 500);
                background-color: $clr-white;

                &~label {
                    color: color(red, 500);
                }

                &:focus {
                    outline: 2px solid color(red, 100);
                }
            }
        }
    }

    .error_msg {
        //color: lighten($color: color(red, base), $amount: 10);
        color: color(red, 500);
        font-size: 1rem;
    }
}

.select_wrapper {
    width: 100%;
    margin: 0.7rem 0;
    position: relative;
    border-radius: $border-radius-1;

    label {
        position: absolute;
        top: 50%;
        left: 1rem;
        font-size: 1.2rem;
        transform: translateY(-50%);
        pointer-events: none;
        transition: 0.2s;
        padding: 0 0.2rem;
    }

    .select_icon {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        width: 1rem;
        height: 1rem;
    }

    .select_menu {
        border-radius: $border-radius-1;
        width: 100%;
        --webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        font-size: 0.9rem;
        transition: border 0.2s $animation-cubic;
        outline: none;
        padding: 1rem 2rem 1rem 1rem;
        border: 1px solid color(secondary, 300);
        color: $clr-black;
        background-color: transparent;

        &:focus {
            border: 1px solid color(secondary, 500);
            outline: 2px solid color(secondary, 50);

            &~label {
                top: 0;
                color: color(secondary, 500);
                font-size: 1.1rem;
                background-color: $clr-white;
            }
        }

        &:invalid,
        &:not(:placeholder-shown) {
            border: 1px solid $clr-black;

            &~label {
                top: 0;
                color: $clr-black;
                font-size: 1.1rem;
                background-color: $clr-white;
            }
        }
    }
}