@import 'variables';

.main-wrapper {
    background-color: color(secondary, 50);
    height: 100svh;
    width: 100vw;
    display: flex;

    .main-container {
        flex: 1;


        .main-header {
            height: 4rem;
            background-color: $clr-white;
            box-shadow: $panel-box-shadow;
            z-index: 100;
            padding: 0 1.25rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            //margin: 0 auto;
            //border-radius: $border-radius;
        }
    }
}

@media only screen and (max-width: $media-query-lg) {
    .main-container {
        margin: $mobile-header-height 0;

        .main-header {
            display: none !important;
        }
    }
}