@import 'variables';

.multi_step_form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form_header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;

        .form_divider {
            position: relative;
            width: 4rem;
            height: 1px;
            background-color: color(secondary, 300);

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: $clr-black;
                transform-origin: left;
                transform: scaleX(0);
                transition: transform 0.2s $animation-cubic;
            }
        }

        .from_step {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            cursor: pointer;
            transition: all .2s $animation-cubic;

            &.active {
                h3 {
                    border: 1px solid $clr-black;
                    color: $clr-black
                }

                h4 {
                    color: $clr-black;
                }


            }

            &.valid {
                h3 {
                    border: 1px solid $clr-black;
                    color: color(green, 600);
                }

                h4 {
                    color: $clr-black;
                }

                +.form_divider {
                    &::before {
                        transform: scaleX(1);
                    }
                }

                &:hover {
                    h3 {
                        color: color(green, 300);
                    }
                }

            }

            h3 {
                font-size: 1.2rem;
                font-weight: 400;
                color: color(secondary, 300);
                width: 3rem;
                height: 3rem;
                aspect-ratio: 1/1;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .2s $animation-cubic;
                border: 1px solid color(secondary, 300);
                border-radius: $border-radius-1;
            }

            h4 {
                font-size: 1.2rem;
                font-weight: 400;
                color: color(secondary, 300);
                transition: all .2s $animation-cubic;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background-color: color(primary, 100);
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform 0.2s $animation-cubic;
                }
            }

            &:hover {
                h3 {
                    border: 1px solid color(secondary, 600);
                    color: color(secondary, 600);
                }

                h4 {
                    color: color(secondary, 600);
                }
            }
        }
    }

    .from_body {
        .form_inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .field_wrapper {
                display: flex;
                flex-direction: row;
                column-gap: 0.5rem;

                .input_wrapper {
                    width: 100%;
                }
            }
        }

        .from_buttons {
            display: flex;
            gap: 1.5rem;
            justify-content: flex-end;
            align-items: center;
        }
    }
}

/*
@media only screen and (max-width: $media-query-sm) {
    .multi_step_form {
        .form_header {
            flex-direction: column;
            gap: 1rem;
            align-items: flex-start;

            .from_step {
                h4 {
                    font-size: 1rem;
                }
            }
        }
    }
}
*/