@import 'variables';

.stairs {
    .transition_container {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        display: flex;
        z-index: 99999;

        div {
            height: 100%;
            width: 100%;
            background-color: color(primary, 500);
        }
    }
}