// color
$clr-black: #000000;
$clr-white: #ffffff;
$clr-yellow: #f4b115;
$clr-red: #eb0000;
$clr-green: #00eb00;

$clr-search-bar: #0c0c0c;

$clr-primary-darkgrey: #141414;
$clr-primary-grey: #e0e0e0;
$clr-primary-lightgrey: #f5f5f5;

$clr-secondary-darkgrey: #252525;
