@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes loading {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
@keyframes toast {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sliding-down {
  0% {
    transform: translateY(-3%);
    opacity: 0;
  }
  10% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  90% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(3%);
    opacity: 0;
  }
}
@keyframes sliding-up {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }
  15% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  85% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(-3%);
    opacity: 0;
  }
}
.auth-page {
  position: relative;
  height: 100svh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.auth-page .hero {
  position: relative;
  flex: 1;
  bottom: 0;
  left: 0;
  transform: scale(1.175);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 3rem;
  isolation: isolate;
  overflow: hidden;
  background-color: #0d0d0d;
}
.auth-page .hero .hero-content {
  position: absolute;
  inset: 0;
  transform: scale(0.8525);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  color: #fff;
}
.auth-page .hero .hero-content .hero-title {
  font-size: clamp(7rem, 7vw, 10rem);
  line-height: normal;
  margin: 1rem 0 0 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "BiggerDisplay";
  font-style: italic;
}
.auth-page .hero .hero-content .hero-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
  max-width: 800px;
  padding: 0 1.5rem;
}
.auth-page .hero .hero-content .hero-footer {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  font-size: 0.9rem;
}
.auth-page .hero .hero-content .hero-footer h4 {
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.auth-page .hero .hero-content .hero-footer .hero-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.auth-page .hero .hero-content .hero-footer .hero-links a {
  font-weight: 400;
  color: #fff;
  opacity: 1;
  text-transform: uppercase;
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.auth-page .hero .hero-content .hero-footer .hero-links a:hover {
  color: #CFD3D9;
}
.auth-page .hero .image-column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
  z-index: -1;
}
.auth-page .hero .image-column.sliding-down {
  animation: sliding-down 20s linear infinite;
}
.auth-page .hero .image-column.sliding-up {
  animation: sliding-up 20s linear infinite;
}
.auth-page .hero .image-column:nth-child(0) {
  animation-delay: 0s;
}
.auth-page .hero .image-column:nth-child(1) {
  animation-delay: 0.15s;
}
.auth-page .hero .image-column:nth-child(2) {
  animation-delay: 0.3s;
}
.auth-page .hero .image-column:nth-child(3) {
  animation-delay: 0.45s;
}
.auth-page .hero .image-column:nth-child(4) {
  animation-delay: 0.6s;
}
.auth-page .hero .image-column:nth-child(5) {
  animation-delay: 0.75s;
}
.auth-page .hero .image-column:nth-child(6) {
  animation-delay: 0.9s;
}
.auth-page .hero .image-column:nth-child(7) {
  animation-delay: 1.05s;
}
.auth-page .hero .image-column:nth-child(8) {
  animation-delay: 1.2s;
}
.auth-page .hero .image-column:nth-child(9) {
  animation-delay: 1.35s;
}
.auth-page .hero .image-column .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.auth-page .hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.auth-page .auth-container {
  position: relative;
  padding: 3rem;
  width: clamp(40rem, 50%, 70rem);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  overflow-x: hidden;
}
.auth-page .auth-container .brand-title {
  position: relative;
  font-size: clamp(5rem, 5vw, 7rem);
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "BiggerDisplay";
  font-style: italic;
  display: none;
  color: #fff;
}
.auth-page .auth-container .tabs-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
.auth-page .auth-container .tabs-wrapper .tabs-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 50%;
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item::after {
  content: "";
  height: 1px;
  background-color: #989FAD;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: height 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item:hover h3 {
  color: #657084;
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
  color: #989FAD;
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  margin: 0 1rem;
  font-weight: 500;
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item.active-tab::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item.active-tab h3 {
  color: #000;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item {
  display: none;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item .social-signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item .social-signup h4 {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item .bg-line {
  width: 100%;
  margin: 2rem 0 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item .bg-line h4 {
  color: #000;
  text-align: center;
  background-color: #fff;
  padding: 0 1rem;
  z-index: 100;
  font-weight: 400;
  font-size: 1.2rem;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item .bg-line::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: #000;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content h1 {
  margin: 2rem 0 1rem 0;
  font-size: 2rem;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content form .field-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content form .field-wrapper .input-wrapper {
  width: 100%;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content form .forgot-pass {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 400;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content form .forgot-pass p {
  width: -moz-fit-content;
  width: fit-content;
  color: #0C6DE9;
  position: relative;
  margin-left: auto;
  cursor: pointer;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content form .forgot-pass p::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #0C6DE9;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content form .forgot-pass p:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.auth-page .auth-container .reset-password-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
.auth-page .auth-container .reset-password-wrapper p {
  width: -moz-fit-content;
  width: fit-content;
  color: #0C6DE9;
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
}
.auth-page .auth-container .reset-password-wrapper p::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #0C6DE9;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.auth-page .auth-container .reset-password-wrapper p:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.auth-page .auth-container .reset-password-wrapper .reset-password-body h1 {
  position: relative;
  margin: 1rem 0 2rem 0;
  font-size: 2rem;
}

@media only screen and (max-width: 2560px) {
  .auth-page .hero {
    gap: 2rem;
    grid-template-columns: repeat(7, 1fr);
  }
  .auth-page .hero .image-column {
    row-gap: 2rem;
  }
}
@media only screen and (max-width: 1920px) {
  .auth-page .hero {
    gap: 1.5rem;
    grid-template-columns: repeat(5, 1fr);
  }
  .auth-page .hero .image-column {
    row-gap: 1.5rem;
  }
}
@media only screen and (max-width: 1600px) {
  .auth-page .hero {
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
  }
  .auth-page .hero .image-column {
    row-gap: 1.5rem;
  }
  .auth-page .auth-container {
    padding: 2rem;
  }
}
@media only screen and (max-width: 1200px) {
  .auth-page {
    min-height: 100svh;
    height: auto;
    flex-direction: column-reverse;
    overflow: auto;
  }
  .auth-page .hero {
    border-radius: 6px;
    max-width: 800px;
    margin: 2rem auto !important;
    transform: scale(1);
    gap: 0.5rem;
    max-height: 40svh;
    grid-template-columns: repeat(5, 1fr);
  }
  .auth-page .hero .hero-content {
    transform: scale(1);
    padding: 0;
  }
  .auth-page .hero .hero-content .hero-title {
    visibility: hidden;
  }
  .auth-page .hero .hero-content .hero-footer {
    padding: 1rem;
  }
  .auth-page .hero .hero-content .hero-footer h4,
  .auth-page .hero .hero-content .hero-footer a {
    font-size: 0.9rem;
  }
  .auth-page .hero .hero-content .hero-footer .hero-links {
    gap: 1rem;
  }
  .auth-page .hero .hero-content .hero-footer .hero-links a {
    opacity: 1;
  }
  .auth-page .hero .image-column {
    row-gap: 0.5rem;
  }
  .auth-page .auth-container {
    width: 100%;
    box-shadow: none;
    padding: 0rem 2rem;
    border: none;
  }
  .auth-page .auth-container .brand-title {
    display: block;
    margin: 2rem 0;
    line-height: normal;
    color: #0C6DE9;
  }
  .auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item {
    min-width: 10rem;
  }
  .auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item h3 {
    font-size: 1.2rem;
  }
  .auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content h1 {
    line-height: normal;
  }
  .auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content form .field-wrapper {
    flex-direction: column;
    row-gap: 0.25rem;
  }
}
@media only screen and (max-width: 768px) {
  .auth-page .hero {
    margin: 2rem !important;
    margin-bottom: 0 !important;
  }
}
@media only screen and (max-width: 576px) {
  .auth-page .hero {
    margin: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .auth-page .hero .hero-content .hero-footer h4 span {
    display: none;
  }
  .auth-page .auth-container {
    padding: 0rem 1rem;
  }
}
@media only screen and (max-width: 360px) {
  .auth-page .hero {
    margin: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .auth-page .hero .hero-content .hero-footer a,
  .auth-page .hero .hero-content .hero-footer h4 {
    font-size: 0.8rem;
  }
  .auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item {
    min-width: 10rem;
  }
  .auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item h3 {
    font-size: 1.1rem;
  }
}/*# sourceMappingURL=authentication.css.map */