/*
$clr-primary-900: #141414;
$clr-primary-800: #212121;
$clr-primary-700: #424242;
$clr-primary-600: #616161;
$clr-primary-500: #757575;
$clr-primary-400: #9E9E9E;
$clr-primary-300: #BDBDBD;
$clr-primary-200: #E0E0E0;
$clr-primary-100: #EEEEEE;
*/
@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes loading {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
@keyframes toast {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes sliding-down {
  0% {
    transform: translateY(-3%);
    opacity: 0;
  }
  10% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  90% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(3%);
    opacity: 0;
  }
}
@keyframes sliding-up {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }
  15% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  85% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(-3%);
    opacity: 0;
  }
}
.btn {
  all: unset;
  box-shadow: 0;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.btn.primary {
  transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.btn.primary.light {
  background-color: #ffffff;
  color: #161C24;
}
.btn.primary.light:hover, .btn.primary.light:active {
  background-color: #b3b3b3;
}
.btn.primary.dark {
  background-color: #161C24;
  color: #ffffff;
}
.btn.primary.dark:hover, .btn.primary.dark:active {
  background-color: #506683;
}
.btn.secondary {
  border: 1px solid;
  transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.btn.secondary.light {
  border-color: #637381;
}
.btn.secondary.light:hover, .btn.secondary.light:active {
  background-color: #ffffff;
  color: #161C24;
}
.btn.secondary.dark {
  border-color: #161C24;
}
.btn.secondary.dark:hover, .btn.secondary.dark:active {
  background-color: #161C24;
  color: #ffffff;
}
.btn.tertiary {
  text-transform: capitalize;
  letter-spacing: 0px;
  position: relative;
  padding: 0 !important;
  margin: 0.5rem 0;
  gap: 0.75rem;
  font-size: 1.2rem;
}
.btn.tertiary::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.btn.tertiary.light {
  color: #ffffff;
}
.btn.tertiary.light::before {
  background-color: #ffffff;
}
.btn.tertiary.light:hover::before, .btn.tertiary.light:active::before {
  transform-origin: left;
  transform: scaleX(1);
}
.btn.tertiary.dark {
  color: #161C24;
}
.btn.tertiary.dark::before {
  background-color: #161C24;
}
.btn.tertiary.dark:hover::before, .btn.tertiary.dark:active::before {
  transform-origin: left;
  transform: scaleX(1);
}
.btn.bold {
  font-weight: 700;
}/*# sourceMappingURL=button.css.map */