@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes loading {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
@keyframes toast {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sliding-down {
  0% {
    transform: translateY(-3%);
    opacity: 0;
  }
  10% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  90% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(3%);
    opacity: 0;
  }
}
@keyframes sliding-up {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }
  15% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  85% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(-3%);
    opacity: 0;
  }
}
.sidebar {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 18rem;
  background-color: #fff;
  transition: width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  border-right: 2px solid #CFD3D9;
}
.sidebar.closed {
  width: 5rem;
  padding-top: 1.5rem;
  align-items: center;
}
.sidebar.closed .sidebar-list {
  width: 100%;
}
.sidebar.closed .sidebar-list .sidebar-list-item h4 {
  text-align: center;
  color: #CFD3D9;
}
.sidebar.closed .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar.closed .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item .submenu-item-link {
  justify-content: center;
}
.sidebar.closed .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item .submenu-item-link svg {
  margin-left: 0;
}
.sidebar.closed .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item .submenu-item-link span {
  display: none;
}
.sidebar .sidebar-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  margin-bottom: 1rem;
  height: 2.4rem;
}
.sidebar .sidebar-header h1 {
  cursor: default;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.sidebar .sidebar-header svg {
  font-size: 1.25rem;
  min-width: 1.25rem !important;
  cursor: pointer;
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.sidebar .sidebar-header svg:hover {
  color: #0C6DE9;
}
.sidebar .sidebar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sidebar .sidebar-list .sidebar-list-item {
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
.sidebar .sidebar-list .sidebar-list-item h4 {
  text-transform: uppercase;
  color: #989FAD;
  font-weight: 500;
  font-size: 0.95rem;
  padding: 0 1.5rem;
}
.sidebar .sidebar-list .sidebar-list-item .list-item-submenu {
  padding: 0.5rem 0;
  font-size: 1.25rem;
}
.sidebar .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item {
  height: 2rem;
  margin-bottom: 0.5rem;
}
.sidebar .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item .submenu-item-link {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1.25rem;
  background-color: transparent;
}
.sidebar .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item .submenu-item-link svg {
  min-width: 1.25rem !important;
  margin-left: 2.5rem;
}
.sidebar .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item .submenu-item-link span {
  white-space: nowrap;
}
.sidebar .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item .submenu-item-link svg,
.sidebar .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item .submenu-item-link span {
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.sidebar .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item .submenu-item-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background-color: #0C6DE9;
  border-radius: 25px 0 0 25px;
  transition: width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.sidebar .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item .submenu-item-link:hover svg,
.sidebar .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item .submenu-item-link:hover span {
  color: #0C6DE9;
}
.sidebar .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item .submenu-item-link:hover::before {
  width: 3px;
}
.sidebar .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item .submenu-item-link:global(.active) svg,
.sidebar .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item .submenu-item-link:global(.active) span {
  color: #0C6DE9;
}
.sidebar .sidebar-list .sidebar-list-item .list-item-submenu .submenu-item .submenu-item-link:global(.active)::before {
  width: 3px;
}
.sidebar .sidebar-list .sidebar-list-item:last-child {
  margin-top: auto;
  margin-bottom: 0;
}
.sidebar .sidebar-list .sidebar-list-item:last-child .submenu-item:last-of-type .submenu-item-link {
  cursor: pointer;
}
.sidebar .sidebar-list .sidebar-list-item:last-child .submenu-item:last-of-type .submenu-item-link svg,
.sidebar .sidebar-list .sidebar-list-item:last-child .submenu-item:last-of-type .submenu-item-link span {
  color: #E81A1A;
}
.sidebar .sidebar-list .sidebar-list-item:last-child .submenu-item:last-of-type .submenu-item-link:hover svg,
.sidebar .sidebar-list .sidebar-list-item:last-child .submenu-item:last-of-type .submenu-item-link:hover span {
  color: #E81A1A;
}
.sidebar .sidebar-list .sidebar-list-item:last-child .submenu-item:last-of-type .submenu-item-link:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3px;
  background-color: #E81A1A;
  border-radius: 6px 0 0 6px;
}/*# sourceMappingURL=desktop-sidebar.module.css.map */