/*
color(primary, 900): #131811;
color(primary, 800): #263022;
color(primary, 700): #394833;
color(primary, 600): #4C5F44;
color(primary, 500): #5E7755;
color(primary, 400): #718F66;
color(primary, 300): #86A27C;
color(primary, 200): #9CB394;
color(primary, 100): #B2C4AB;
*/
/*
$palettes : (primary: (900: #161C24,
        800: #212B36,
        700: #454F5B,
        600: #637381,
        500: #919EAB,
        400: #C4CDD5,
        300: #DFE3E8,
        200: #F4F6F8,
        100: #F9FAFB,
    ),
    secondary: (900: #212529,
        800: #343a40,
        700: #495057,
        600: #6c757d,
        500: #adb5bd,
        400: #ced4da,
        300: #dee2e6,
        200: #e9ecef,
        100: #f8f9fa,
    ),
    red: (lighter: #FFD6D9,
        light: #FF8389,
        base: #FF2437,
        dark: #B80D24,
        darker: #8C001A,
    ),
    green: (lighter: #C8FAD6,
        light: #5BE49B,
        base: #00A76F,
        dark: #007867,
        darker: #004B50,

    ),
    blue: (lighter: #CAFDF5,
        light: #61F3F3,
        base: #00B8D9,
        dark: #006C9C,
        darker: #003768,
    ),
    yellow: (lighter: #FFF5CC,
        light: #FFD666,
        base: #FFAB00,
        dark: #B76E00,
        darker: #7A4100,
    ),
    other : (facebook: #3b5998,
        twitter: #1da1f2,
        google: #db4437,
        instagram: #B71D18,
    ));
*/
@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes loading {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
@keyframes toast {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sliding-down {
  0% {
    transform: translateY(-3%);
    opacity: 0;
  }
  10% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  90% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(3%);
    opacity: 0;
  }
}
@keyframes sliding-up {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }
  15% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  85% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(-3%);
    opacity: 0;
  }
}
@font-face {
  font-family: "BiggerDisplay";
  src: url("../fonts/BiggerDisplay.otf") format("truetype");
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/Oswald-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter Tight";
  src: url("../fonts/inter-tight/InterTight-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto-condensed/RobotoCondensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dm-sans/DMSans-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  letter-spacing: normal;
  overflow-x: hidden;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 0.9rem;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 576px) {
  html {
    font-size: 0.8rem;
    line-height: 1.4;
  }
}/*# sourceMappingURL=global.css.map */