@font-face {
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Staatliches-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Oswald-Light.ttf") format("truetype");
}
@font-face {
  font-family: "MeshedDisplay";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MeshedDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Humane";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Humane-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Mango";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MangoGrotesque-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-family: "Oswald", sans-serif;
  line-height: 1.3;
  font-size: 1rem;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.main-content {
  background-color: #ffffff;
  width: calc(100% - 5rem);
  min-height: calc(100% - 2.5rem);
  top: 2.5rem;
  left: 5rem;
  position: relative;
  z-index: 0;
  margin-bottom: calc(90svh + 2.5rem);
}

.btn-main {
  all: unset;
  font-weight: bold;
  box-shadow: 0;
  transition: box-shadow 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-size: 1em;
  padding: 0.75em 1em;
  margin: 0.5rem 0;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  letter-spacing: 2px;
}
.btn-main:active {
  opacity: 0.75;
}

.btn-white {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.btn-white:hover, .btn-white:focus .btn-white:active {
  box-shadow: 7px 7px #ffffff;
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}

.btn-black {
  color: #000000;
  border: 1px solid #000000;
}
.btn-black:hover, .btn-black:focus .btn-black:active {
  box-shadow: 7px 7px #000000;
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.input-wrapper {
  margin: 0.25rem 0;
}
.input-wrapper .input-group {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0.2rem 0;
}
.input-wrapper .input-group label {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  font-size: 1.2rem;
  transform: translateY(-50%);
  color: #474747;
  pointer-events: none;
  transition: 0.2s;
  padding: 0 0.2rem;
}
.input-wrapper .input-group img {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.input-wrapper .input-group .input-field {
  padding: 0.75rem;
  outline: none;
  font-size: 0.9rem;
  color: #474747;
}
.input-wrapper .input-group .input-field:not(:-moz-placeholder-shown) {
  border: 2px solid #000000;
}
.input-wrapper .input-group .input-field:focus, .input-wrapper .input-group .input-field:invalid, .input-wrapper .input-group .input-field:not(:placeholder-shown) {
  border: 2px solid #000000;
}
.input-wrapper .input-group .input-field:not(:-moz-placeholder-shown) ~ label {
  top: 0;
  color: #000000;
  font-size: 1.1rem;
  background-color: #ffffff;
}
.input-wrapper .input-group .input-field:focus ~ label, .input-wrapper .input-group .input-field:invalid ~ label, .input-wrapper .input-group .input-field:not(:placeholder-shown) ~ label {
  top: 0;
  color: #000000;
  font-size: 1.1rem;
  background-color: #ffffff;
}
.input-wrapper .input-group .input-field.input-error {
  border: 2px solid #eb0000;
}
.input-wrapper .input-group .input-field.input-error:focus {
  outline: 2px solid #ffd2d2;
}
.input-wrapper .input-group .input-field.input-success {
  border: 2px solid #00eb00;
}

/* Change Autocomplete styles*/
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .main-content {
    padding: 0;
    left: 0;
    top: 3.5rem;
    min-height: calc(100% - 3.5rem - 3.5rem);
    width: 100%;
    margin-bottom: calc(90svh + 3.5rem + 3.5rem);
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}/*# sourceMappingURL=globals.css.map */