/*
$clr-primary-900: #141414;
$clr-primary-800: #212121;
$clr-primary-700: #424242;
$clr-primary-600: #616161;
$clr-primary-500: #757575;
$clr-primary-400: #9E9E9E;
$clr-primary-300: #BDBDBD;
$clr-primary-200: #E0E0E0;
$clr-primary-100: #EEEEEE;
*/
@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes loading {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
@keyframes toast {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes sliding-down {
  0% {
    transform: translateY(-3%);
    opacity: 0;
  }
  10% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  90% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(3%);
    opacity: 0;
  }
}
@keyframes sliding-up {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }
  15% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  85% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(-3%);
    opacity: 0;
  }
}
.input-wrapper {
  margin: 0.5rem 0;
}
.input-wrapper .input-group {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0.2rem 0;
}
.input-wrapper .input-group label {
  position: absolute;
  top: 50%;
  left: 1rem;
  font-size: 1.2rem;
  transform: translateY(-50%);
  color: #637381;
  pointer-events: none;
  transition: 0.2s;
  padding: 0 0.2rem;
}
.input-wrapper .input-group .eye {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  background-color: transparent;
}
.input-wrapper .input-group .input-field {
  padding: 1rem 2rem 1rem 1rem;
  outline: none;
  font-size: 0.9rem;
  background-color: transparent;
}
.input-wrapper .input-group .input-field.light {
  border: 1px solid #637381;
  color: #161C24;
  background-color: #F9FAFB;
}
.input-wrapper .input-group .input-field.light ~ .eye {
  color: #637381;
}
.input-wrapper .input-group .input-field.light:focus {
  border: 1px solid #161C24;
  outline: 2px solid #637381;
}
.input-wrapper .input-group .input-field.light:focus ~ label {
  top: 0;
  color: #161C24;
  font-size: 1.1rem;
  background-color: #ffffff;
}
.input-wrapper .input-group .input-field.light:not(:-moz-placeholder-shown) {
  border: 1px solid #161C24;
}
.input-wrapper .input-group .input-field.light:invalid, .input-wrapper .input-group .input-field.light:not(:placeholder-shown) {
  border: 1px solid #161C24;
}
.input-wrapper .input-group .input-field.light:not(:-moz-placeholder-shown) ~ label {
  top: 0;
  color: #161C24;
  font-size: 1.1rem;
  background-color: #ffffff;
}
.input-wrapper .input-group .input-field.light:invalid ~ label, .input-wrapper .input-group .input-field.light:not(:placeholder-shown) ~ label {
  top: 0;
  color: #161C24;
  font-size: 1.1rem;
  background-color: #ffffff;
}
.input-wrapper .input-group .input-field.light.input-error {
  border: 2px solid #FF1F32;
}
.input-wrapper .input-group .input-field.light.input-error:focus {
  outline: 2px solid #FF8389;
}
.input-wrapper .input-group .input-field.light.input-success {
  border: 2px solid #00A76F;
}
.input-wrapper .input-group .input-field.dark {
  border: 1px solid #637381;
  color: #ffffff;
}
.input-wrapper .input-group .input-field.dark:focus {
  border: 1px solid #ffffff;
  outline: 2px solid #637381;
}
.input-wrapper .input-group .input-field.dark:focus ~ label {
  top: 0;
  color: #ffffff;
  font-size: 1.1rem;
  background-color: #161C24;
}
.input-wrapper .input-group .input-field.dark:not(:-moz-placeholder-shown) {
  border: 1px solid #ffffff;
}
.input-wrapper .input-group .input-field.dark:invalid, .input-wrapper .input-group .input-field.dark:not(:placeholder-shown) {
  border: 1px solid #ffffff;
}
.input-wrapper .input-group .input-field.dark:not(:-moz-placeholder-shown) ~ label {
  top: 0;
  color: #ffffff;
  font-size: 1.1rem;
  background-color: #161C24;
}
.input-wrapper .input-group .input-field.dark:invalid ~ label, .input-wrapper .input-group .input-field.dark:not(:placeholder-shown) ~ label {
  top: 0;
  color: #ffffff;
  font-size: 1.1rem;
  background-color: #161C24;
}
.input-wrapper .input-group .input-field.dark.input-error {
  border: 2px solid #FF1F32;
}
.input-wrapper .input-group .input-field.dark.input-error:focus {
  outline: 2px solid #FF8389;
}
.input-wrapper .input-group .input-field.dark.input-success {
  border: 2px solid #00A76F;
}
.input-wrapper .error-msg {
  color: #FF1F32;
  font-size: 0.9rem;
}

/* Change Autocomplete styles*/
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #161C24 inset;
}/*# sourceMappingURL=input.css.map */