/*
$clr-primary-900: #141414;
$clr-primary-800: #212121;
$clr-primary-700: #424242;
$clr-primary-600: #616161;
$clr-primary-500: #757575;
$clr-primary-400: #9E9E9E;
$clr-primary-300: #BDBDBD;
$clr-primary-200: #E0E0E0;
$clr-primary-100: #EEEEEE;
*/
@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes loading {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
@keyframes toast {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes sliding-down {
  0% {
    transform: translateY(-3%);
    opacity: 0;
  }
  10% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  90% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(3%);
    opacity: 0;
  }
}
@keyframes sliding-up {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }
  15% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  85% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(-3%);
    opacity: 0;
  }
}
.nav-bar {
  position: fixed;
  bottom: 0;
  background-color: #161C24;
  height: 4rem;
  width: 100vw;
  z-index: 100;
  border-top: 1px solid #454F5B;
}
.nav-bar .nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.nav-bar .nav-list .nav-list-item .nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 5vw;
  opacity: 1;
  position: relative;
}
.nav-bar .nav-list .nav-list-item .nav-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.nav-bar .nav-list .nav-list-item .nav-link .notification-icon {
  position: relative;
  display: flex;
  align-items: center;
}
.nav-bar .nav-list .nav-list-item .nav-link .notification-icon .navbar-svg {
  margin: 0;
  min-width: 2rem;
  height: 1.75rem;
  color: #F9FAFB;
}
.nav-bar .nav-list .nav-list-item .nav-link .notification-icon .new-notification {
  position: absolute;
  height: 0.6rem;
  width: 0.6rem;
  background-color: #FF1F32;
  top: 0;
  right: 0;
  border-radius: 50%;
  border: 1px solid #161C24;
  z-index: 100;
  transform: translate(0, -25%);
  filter: grayscale(0%) opacity(1);
}
.nav-bar .nav-list .nav-list-item .nav-link .navbar-svg {
  margin: 0;
  min-width: 2rem;
  height: 1.75rem;
  color: #F9FAFB;
}

.mobile-header-wrapper {
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: #161C24;
  z-index: 100;
  border-bottom: 1px solid #454F5B;
}
.mobile-header-wrapper .header-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.mobile-header-wrapper .header-list .header-list-item {
  display: flex;
}
.mobile-header-wrapper .header-list .header-list-item .logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(10vw + 2rem);
}
.mobile-header-wrapper .header-list .header-list-item .logo h2 {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-family: "Oswald", sans-serif;
  color: #FFAB00;
  text-shadow: 0.15rem 0.15rem 0 #FF1F32;
  padding: 0;
}
.mobile-header-wrapper .header-list .header-list-item .header-link {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  opacity: 1;
  cursor: pointer;
  margin: 0 5vw;
}
.mobile-header-wrapper .header-list .header-list-item .header-link .header-svg {
  margin: 0;
  min-width: 2rem;
  height: 1.75rem;
  color: #F9FAFB;
}

.nav-aside-wrapper {
  width: 0;
  z-index: 100;
  height: 100vh;
  position: fixed;
  top: 4rem;
}
.nav-aside-wrapper .nav-aside {
  width: 0;
  height: calc(100% - 8rem);
  top: 4rem;
  left: 0;
  position: fixed;
  background-color: #161C24;
  z-index: 100;
  transition: width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.nav-aside-wrapper .nav-aside .side-list {
  display: none;
}
.nav-aside-wrapper.opened {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}
.nav-aside-wrapper.opened .nav-aside {
  width: 80%;
  border-right: 1px solid #454F5B;
}
.nav-aside-wrapper.opened .nav-aside .side-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 2rem;
  overflow: auto;
}
.nav-aside-wrapper.opened .nav-aside .side-list .profile-link {
  width: 100%;
  margin-bottom: 0.075rem;
}
.nav-aside-wrapper.opened .nav-aside .side-list .profile-link .side-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
}
.nav-aside-wrapper.opened .nav-aside .side-list .profile-link .side-link:hover {
  cursor: pointer;
  opacity: 1;
  background-color: #10151b;
  position: relative;
}
.nav-aside-wrapper.opened .nav-aside .side-list .profile-link .side-link .username-text {
  font-weight: 400;
  font-size: 1.5rem;
  color: #F9FAFB;
}
.nav-aside-wrapper.opened .nav-aside .side-list .profile-link .side-link .username-link {
  font-weight: 400;
  font-size: 0.85rem;
  color: #C4CDD5;
  font-style: italic;
}
.nav-aside-wrapper.opened .nav-aside .side-list .profile-link .side-link .rounded {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #919EAB;
  margin-bottom: 0.25rem;
}
.nav-aside-wrapper.opened .nav-aside .side-list .side-list-item {
  width: 100%;
  display: flex;
}
.nav-aside-wrapper.opened .nav-aside .side-list .side-list-item .side-link {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.75rem 3rem;
  opacity: 1;
}
.nav-aside-wrapper.opened .nav-aside .side-list .side-list-item .side-link .side-svg {
  min-height: 1.5rem;
  min-width: 1.5rem;
  color: #F9FAFB;
}
.nav-aside-wrapper.opened .nav-aside .side-list .side-list-item .side-link .side-svg.scale-down {
  transform: scale(0.9);
}
.nav-aside-wrapper.opened .nav-aside .side-list .side-list-item .side-link .side-text {
  font-size: 1.5rem;
  margin-left: 2.5rem;
}
.nav-aside-wrapper.opened .nav-aside .side-list .side-list-item .side-link.active, .nav-aside-wrapper.opened .nav-aside .side-list .side-list-item .side-link:hover {
  background-color: #10151b;
  position: relative;
}
.nav-aside-wrapper.opened .nav-aside .side-list .side-list-item .side-link.active::after {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 100%;
  background-color: #ffffff;
  top: 0;
  left: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.nav-aside-wrapper.opened .nav-aside .side-list .last-in-group {
  margin-bottom: 1.25rem;
}

@media only screen and (max-width: 360px) {
  .nav-aside-wrapper.opened .nav-aside {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .mobile-header-wrapper .header-list .header-list-item .logo h2 {
    visibility: hidden;
    position: relative;
  }
  .mobile-header-wrapper .header-list .header-list-item .logo h2::after {
    content: "Fwr.";
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFAB00;
    text-shadow: 0.15rem 0.15rem 0 #FF1F32;
    font-family: "Oswald", sans-serif;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=mobile_navbar.module.css.map */