/*
$clr-primary-900: #121212;
$clr-primary-800: #212121;
$clr-primary-700: #424242;
$clr-primary-600: #616161;
$clr-primary-500: #757575;
$clr-primary-400: #9e9e9e;
$clr-primary-300: #bdbdbd;
$clr-primary-200: #e0e0e0;
$clr-primary-100: #eeeeee;
*/
@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes loading {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
@keyframes toast {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes sliding-down {
  0% {
    transform: translateY(-3%);
    opacity: 0;
  }
  10% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  90% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(3%);
    opacity: 0;
  }
}
@keyframes sliding-up {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }
  15% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  85% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(-3%);
    opacity: 0;
  }
}
.multi-step-form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.multi-step-form .form-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.multi-step-form .form-header .form-step {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.multi-step-form .form-header .form-step:hover h3 {
  color: #F9FAFB;
  border: 1px solid #F9FAFB;
  background-color: #F9FAFB !important;
}
.multi-step-form .form-header .form-step:hover h4 {
  color: #F9FAFB;
}
.multi-step-form .form-header .form-step.active h3 {
  background-color: #F9FAFB;
  color: #161C24;
  border: 1px solid #161C24;
}
.multi-step-form .form-header .form-step.active h4 {
  color: #F9FAFB;
}
.multi-step-form .form-header .form-step.valid h3 {
  color: #161C24;
  border: 1px solid #161C24;
  background-color: #919EAB;
}
.multi-step-form .form-header .form-step h3 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #637381;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #637381;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.multi-step-form .form-header .form-step h4 {
  font-size: 1.175rem;
  font-weight: 400;
  color: #637381;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.multi-step-form .form-body .form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.multi-step-form .form-body .form-inputs .field-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.multi-step-form .form-body .form-inputs .field-wrapper .input-wrapper {
  width: 100%;
}
.multi-step-form .form-body .form-inputs .select-wrapper {
  width: 100%;
  margin: 0.7rem 0;
  position: relative;
}
.multi-step-form .form-body .form-inputs .select-wrapper label {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #919EAB;
  pointer-events: none;
  transition: 0.2s;
  padding: 0 0.2rem;
}
.multi-step-form .form-body .form-inputs .select-wrapper .select-icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  width: 1rem;
  height: 1rem;
}
.multi-step-form .form-body .form-inputs .select-wrapper .select-menu {
  width: 100%;
  padding: 0.75rem;
  --webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: border 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  outline: none;
}
.multi-step-form .form-body .form-inputs .select-wrapper .select-menu.light {
  border: 2px solid #454F5B;
  color: #161C24;
  background-color: #F9FAFB;
}
.multi-step-form .form-body .form-inputs .select-wrapper .select-menu.light ~ label {
  background-color: #F9FAFB;
}
.multi-step-form .form-body .form-inputs .select-wrapper .select-menu.light:not(:-moz-placeholder-shown) {
  border: 2px solid #161C24;
}
.multi-step-form .form-body .form-inputs .select-wrapper .select-menu.light:focus, .multi-step-form .form-body .form-inputs .select-wrapper .select-menu.light:invalid, .multi-step-form .form-body .form-inputs .select-wrapper .select-menu.light:not(:placeholder-shown) {
  border: 2px solid #161C24;
}
.multi-step-form .form-body .form-inputs .select-wrapper .select-menu.light:not(:-moz-placeholder-shown) ~ label {
  top: 0;
  color: #161C24;
}
.multi-step-form .form-body .form-inputs .select-wrapper .select-menu.light:focus ~ label, .multi-step-form .form-body .form-inputs .select-wrapper .select-menu.light:invalid ~ label, .multi-step-form .form-body .form-inputs .select-wrapper .select-menu.light:not(:placeholder-shown) ~ label {
  top: 0;
  color: #161C24;
}
.multi-step-form .form-body .form-inputs .select-wrapper .select-menu.dark {
  border: 2px solid #161C24;
  color: #F9FAFB;
  background-color: #161C24;
}
.multi-step-form .form-body .form-inputs .select-wrapper .select-menu.dark ~ label {
  background-color: #161C24;
}
.multi-step-form .form-body .form-inputs .select-wrapper .select-menu.dark:not(:-moz-placeholder-shown) {
  border: 2px solid #F9FAFB;
}
.multi-step-form .form-body .form-inputs .select-wrapper .select-menu.dark:focus, .multi-step-form .form-body .form-inputs .select-wrapper .select-menu.dark:invalid, .multi-step-form .form-body .form-inputs .select-wrapper .select-menu.dark:not(:placeholder-shown) {
  border: 2px solid #F9FAFB;
}
.multi-step-form .form-body .form-inputs .select-wrapper .select-menu.dark:not(:-moz-placeholder-shown) ~ label {
  top: 0;
  color: #F9FAFB;
}
.multi-step-form .form-body .form-inputs .select-wrapper .select-menu.dark:focus ~ label, .multi-step-form .form-body .form-inputs .select-wrapper .select-menu.dark:invalid ~ label, .multi-step-form .form-body .form-inputs .select-wrapper .select-menu.dark:not(:placeholder-shown) ~ label {
  top: 0;
  color: #F9FAFB;
}
.multi-step-form .form-body .form-buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}/*# sourceMappingURL=multi-step-form.css.map */