/*
color(primary, 900): #131811;
color(primary, 800): #263022;
color(primary, 700): #394833;
color(primary, 600): #4C5F44;
color(primary, 500): #5E7755;
color(primary, 400): #718F66;
color(primary, 300): #86A27C;
color(primary, 200): #9CB394;
color(primary, 100): #B2C4AB;
*/
@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes loading {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
@keyframes toast {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes sliding-down {
  0% {
    transform: translateY(-3%);
    opacity: 0;
  }
  10% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  90% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(3%);
    opacity: 0;
  }
}
@keyframes sliding-up {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }
  15% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  85% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(-3%);
    opacity: 0;
  }
}
.multi-step-form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.multi-step-form .form-header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}
.multi-step-form .form-header .form-divider {
  position: relative;
  width: 4rem;
  height: 1px;
  background-color: #637381;
}
.multi-step-form .form-header .form-divider::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.multi-step-form .form-header .form-step {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.multi-step-form .form-header .form-step:hover h3 {
  color: #161C24;
  background-color: #F9FAFB !important;
}
.multi-step-form .form-header .form-step:hover h4 {
  color: #F9FAFB;
}
.multi-step-form .form-header .form-step.active h3 {
  border: none;
  background-color: #F9FAFB;
  color: #161C24;
}
.multi-step-form .form-header .form-step.active h4 {
  color: #F9FAFB;
}
.multi-step-form .form-header .form-step.active:hover h3 {
  color: black !important;
  background-color: #b3b3b3 !important;
}
.multi-step-form .form-header .form-step.active:hover h4 {
  color: #b3b3b3;
}
.multi-step-form .form-header .form-step.valid h3 {
  border: none;
  color: #161C24;
  background-color: #F9FAFB;
}
.multi-step-form .form-header .form-step.valid h4 {
  color: #F9FAFB;
}
.multi-step-form .form-header .form-step.valid + .form-divider::before {
  transform: scaleX(1);
}
.multi-step-form .form-header .form-step.valid:hover h3 {
  color: black !important;
  background-color: #b3b3b3 !important;
}
.multi-step-form .form-header .form-step.valid:hover h4 {
  color: #b3b3b3;
}
.multi-step-form .form-header .form-step h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #637381;
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border: 1px solid #637381;
}
.multi-step-form .form-header .form-step h4 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #637381;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: relative;
}
.multi-step-form .form-header .form-step h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #F9FAFB;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.multi-step-form .form-body .form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.multi-step-form .form-body .form-inputs .field-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.multi-step-form .form-body .form-inputs .field-wrapper .input-wrapper {
  width: 100%;
}
.multi-step-form .form-body .form-buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
  align-items: center;
}

/*
@media only screen and (max-width: $media-query-sm) {
    .multi-step-form {
        .form-header {
            flex-direction: column;
            gap: 1rem;
            align-items: flex-start;

            .form-step {
                h4 {
                    font-size: 1rem;
                }
            }
        }
    }
}
*//*# sourceMappingURL=multi-step-form.css.map */