.nav-bar {
  width: 5rem;
  height: calc(100vh - 2rem);
  top: 2rem;
  position: sticky;
  background-color: #141414;
  transition: width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #ffffff;
}
.nav-bar .nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-bar .nav-list .logo {
  width: 3rem;
  margin: 1rem;
}
.nav-bar .nav-list .logo .nav-link img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.nav-bar .nav-list .nav-list-item {
  width: 100%;
}
.nav-bar .nav-list .nav-list-item:last-child {
  margin-top: auto;
}
.nav-bar .nav-list .nav-list-item:last-child .nav-link {
  height: 4.25rem;
  background-color: #252525;
  filter: grayscale(0%) opacity(1);
}
.nav-bar .nav-list .nav-list-item:last-child .nav-link .profile-avatar {
  width: 3rem;
  height: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  background-color: #141414;
  border: 2px solid #141414;
  margin: 0 0.75rem;
}
.nav-bar .nav-list .nav-list-item:last-child .nav-link .profile-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav-bar .nav-list .nav-list-item:last-child .nav-link .navbar-username {
  opacity: 0;
  margin-left: 1rem;
  font-size: 1.5rem;
  transform: translateX(-100%);
  transition: opacity 0.2s, transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.nav-bar .nav-list .nav-list-item .nav-link {
  display: flex;
  align-items: center;
  height: 2.25rem;
  text-decoration: none;
  filter: opacity(0.6);
}
.nav-bar .nav-list .nav-list-item .nav-link .notification-icon {
  position: relative;
  margin: 0 1.5rem;
}
.nav-bar .nav-list .nav-list-item .nav-link .notification-icon .navbar-svg {
  margin: 0;
  min-width: 2rem;
  height: 1.25rem;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(239deg) brightness(108%) contrast(101%);
}
.nav-bar .nav-list .nav-list-item .nav-link .notification-icon .new-notification {
  position: absolute;
  height: 0.55rem;
  width: 0.55rem;
  background-color: #eb0000;
  top: 0;
  right: 0;
  border-radius: 50%;
  border: 1px solid #141414;
  z-index: 99;
  transform: translate(-25%, -25%);
  filter: grayscale(0%) opacity(1);
}
.nav-bar .nav-list .nav-list-item .nav-link .navbar-svg {
  min-width: 2rem;
  height: 1.25rem;
  margin: 0 1.5rem;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(239deg) brightness(108%) contrast(101%);
}
.nav-bar .nav-list .nav-list-item .nav-link .navbar-text {
  margin-left: 0.5rem;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-size: 1.3rem;
}
.nav-bar .nav-list .nav-list-item .nav-link:hover, .nav-bar .nav-list .nav-list-item .nav-link.active {
  filter: grayscale(0%) opacity(1);
  background-color: #0f0f0f;
}
.nav-bar .nav-list .nav-list-item .nav-link:hover .profile-avatar, .nav-bar .nav-list .nav-list-item .nav-link.active .profile-avatar {
  opacity: 0.8;
}
.nav-bar .nav-list .last-in-group {
  margin-bottom: 1.5rem;
}
.nav-bar:hover {
  width: 16rem;
}
.nav-bar:hover .nav-list .nav-list-item .nav-link .navbar-text {
  opacity: 1;
  transform: translateX(0);
}
.nav-bar:hover .nav-list .nav-list-item .nav-link .navbar-username {
  opacity: 1;
  transform: translateX(0);
}/*# sourceMappingURL=navbar.css.map */