@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes loading {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
@keyframes toast {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sliding-down {
  0% {
    transform: translateY(-3%);
    opacity: 0;
  }
  10% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  90% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(3%);
    opacity: 0;
  }
}
@keyframes sliding-up {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }
  15% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  85% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(-3%);
    opacity: 0;
  }
}
.settings_section {
  position: relative;
  flex: 1;
  display: flex;
}
.settings_section .settings_nav {
  position: fixed;
  top: 4rem;
  height: calc(100vh - 4rem);
  padding: 1.5rem 2rem;
  width: 18rem;
  background-color: #F0F1F3;
  border-right: 1px solid #CFD3D9;
}
.settings_section .settings_nav .settings_nav_list .settings_nav_list_item:not(:first-child) {
  margin-top: 1.5rem;
}
.settings_section .settings_nav .settings_nav_list .settings_nav_list_item h4 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}
.settings_section .settings_nav .settings_nav_list .settings_nav_list_item ul {
  list-style: none;
  padding-left: 1.75rem;
}
.settings_section .settings_nav .settings_nav_list .settings_nav_list_item ul li {
  position: relative;
  margin-bottom: 0.5rem;
}
.settings_section .settings_nav .settings_nav_list .settings_nav_list_item ul li .link {
  display: block;
  font-size: 1rem;
  color: #5C6678;
  color: #000;
}
.settings_section .settings_nav .settings_nav_list .settings_nav_list_item ul li .link::before {
  background-color: #000;
}
.settings_section .settings_nav .settings_nav_list .settings_nav_list_item ul li .link.active {
  color: #000;
}
.settings_section .settings_nav .settings_nav_list .settings_nav_list_item ul li .link.active::before {
  background-color: #000;
  transform: scaleX(1);
}
.settings_section .settings_wrapper {
  margin-left: 18rem;
  flex: 1;
  padding: 1.5rem 2rem;
}
.settings_section .settings_wrapper .page_desc {
  color: #5C6678;
  margin-bottom: 2rem;
}
.settings_section .settings_wrapper .settings_box {
  position: relative;
  padding: 1rem 1.5rem;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 1rem;
  border: 1px solid #CFD3D9;
}
.settings_section .settings_wrapper .settings_box.image_box {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.settings_section .settings_wrapper .settings_box.image_box img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
}
.settings_section .settings_wrapper .settings_box.image_box div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.settings_section .settings_wrapper .settings_box.image_box div .image_box_name {
  font-size: 1.5rem;
  font-weight: 600;
}
.settings_section .settings_wrapper .settings_box.image_box div .image_box_rank {
  text-transform: uppercase;
}
.settings_section .settings_wrapper .settings_box.image_box div .image_box_rank,
.settings_section .settings_wrapper .settings_box.image_box div .image_box_address {
  color: #5C6678;
}
.settings_section .settings_wrapper .settings_box button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1.1rem;
}
.settings_section .settings_wrapper .settings_box:not(:last-child) {
  margin-bottom: 2rem;
}
.settings_section .settings_wrapper .settings_box h3 {
  margin-bottom: 1rem;
}
.settings_section .settings_wrapper .settings_box .user_info {
  display: grid;
  grid-template-columns: 1fr;
}
.settings_section .settings_wrapper .settings_box .user_info .info_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.settings_section .settings_wrapper .settings_box .user_info .info_row:not(:last-child) {
  margin-bottom: 1rem;
}
.settings_section .settings_wrapper .settings_box .user_info .info_row.full_row {
  grid-template-columns: 1fr;
}
.settings_section .settings_wrapper .settings_box .user_info .info_row .info_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.settings_section .settings_wrapper .settings_box .user_info .info_row .info_box .info_label {
  color: #5C6678;
}
.settings_section .settings_wrapper .settings_box .user_info .info_row .info_box .info_label,
.settings_section .settings_wrapper .settings_box .user_info .info_row .info_box .info_value {
  font-size: 1rem;
}
.settings_section .settings_wrapper form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0 2rem;
  max-width: 768px;
  margin: 0 auto;
}/*# sourceMappingURL=settings.css.map */