@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes loading {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
@keyframes toast {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sliding-down {
  0% {
    transform: translateY(-3%);
    opacity: 0;
  }
  10% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  90% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(3%);
    opacity: 0;
  }
}
@keyframes sliding-up {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }
  15% {
    transform: translateY(2.1%);
    opacity: 1;
  }
  85% {
    transform: translateY(-2.1%);
    opacity: 1;
  }
  100% {
    transform: translateY(-3%);
    opacity: 0;
  }
}
.toast_container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999999;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  row-gap: 0.5rem;
}

.toast {
  position: relative;
  right: 1rem;
  bottom: 1rem;
  min-width: 10rem;
  display: flex;
  padding: 1rem 1.25rem;
  gap: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
  border-radius: 1rem;
  overflow: hidden;
}
.toast::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 8px;
  z-index: 100;
  border-radius: 0.5rem 0 0 0.5rem;
}
.toast::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #000;
  animation: toast 5s linear;
}
.toast h3 {
  font-size: 1.25rem;
  font-weight: 500;
}
.toast .toast_icon {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.75rem;
  color: #000;
}
.toast .toast_close {
  all: unset;
  color: #B8BDC6;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.175rem;
  border-radius: 50%;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.toast .toast_close:hover {
  background-color: #F0F1F3;
  color: #848D9D;
}
.toast.success::before {
  background-color: #3DF100;
}
.toast.success::after {
  background-color: #A6F98A;
}
.toast.success .toast_icon {
  color: #3DF100;
}
.toast.error::before {
  background-color: #F02522;
}
.toast.error::after {
  background-color: #F89B99;
}
.toast.error .toast_icon {
  color: #F02522;
}
.toast.warning::before {
  background-color: #FFAB0F;
}
.toast.warning::after {
  background-color: #FFD891;
}
.toast.warning .toast_icon {
  color: #FFAB0F;
}
.toast.info::before {
  background-color: #009FFD;
}
.toast.info::after {
  background-color: #8AD3FE;
}
.toast.info .toast_icon {
  color: #009FFD;
}

@media only screen and (max-width: 576px) {
  .toast_container {
    width: 100%;
    height: 0;
    padding: 0 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    top: 2rem;
  }
  .toast {
    right: 0;
    width: 100%;
    min-width: 100%;
    justify-content: space-between;
    padding: 0 1rem;
    column-gap: 0;
    align-items: center;
    height: auto;
    min-height: 3.5rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 0.125rem;
  }
  .toast h3 {
    font-size: 1rem;
    text-align: center;
  }
  .toast .toast_icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .toast .toast_close {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
  }
}/*# sourceMappingURL=toast.css.map */